@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .nuxt-content h1 {
    font-size: 20px;
    font-weight: bold;
  }
}

/*remember to check the type of transition .e.g width/height transitions needs transition-all*/
@layer components {
  .navBar {
    @apply top-0 left-0 w-screen h-10 sm:h-screen sm:w-16 m-0 flex flex-row sm:flex-col bg-gray-900 text-white shadow-lg transition-all ease-in-out duration-700;
    &:hover {
      @apply sm:w-72 bg-gray-600;
    }
  }

  .navBarButton {
    @apply m-2 text-center bg-red-400 transition duration-500;
    &:hover {
      @apply bg-purple-400;
    }
  }

  .navInnerContent {
    @apply flex flex-1 flex-col items-center mt-10 sm:mt-0;
  }

  /*route transition*/
  .page-enter-active,
  .page-leave-active {
    transition: opacity 0.4s;
  }
  .page-enter,
  .page-leave-active {
    opacity: 0;
  }
}
